.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #54b435;
  border: 1px solid #54b435;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #379237;
  border-color: #379237;
}

.form p {
  font-size: 1rem;
}
